@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

@using EsyaSatim.Models;

<div class="row">
    <div class="col-md-12">
        <div class="page-box">
            <div class="datatables-example-heading">
                <h3>Mesajlar</h3>
            </div>
            <div class="table-responsive advance-table">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Gönderici Bilgisi</th>
                            <th>Mesaj</th>
                            <th>Alıcı Bilgisi</th>
                            <th>Tarih</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["mesajlar"] as List<Mesajlar>)
                        {
                            <tr>
                                <th>@item.Gonderen_id</th>
                                <th>@item.Mesaj</th>
                                <th>@item.Alici_id</th>
                                <th>@item.Tarih</th>
                                @{
                                    if (@item.Alici_id == Session["Email"].ToString())
                                    {
                                        <th>
                                            <a href="@Url.Action("Cevapla", "Mesajlar", new { item.Id })" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-envelope"></i>Cevapla</a>
                                        </th>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

